li {
  list-style: none;
}

.header {
  background-color: #6a6a6a;
  width: 1920px;
  height: 100px;
}

.header-logo {
  float: left;
  font-size: 48px;
  padding: 20px 20px;
  font-family: idroid;
  color: #f2f2f2;
}

.header-list li {
  color: #f2f2f2;
  float: right;
  padding: 35px 20px;
  font-size: 24px;
}

.header-list li:hover {
  color: #6ca0d1
}
.main {
  height: 440px;
  width: 1920px;
}

.copy-container:hover {
  opacity: 0.8;
}

.copy-container h1 {
  font-size: 96px;
  text-align: center;
}

.contents {
  height: 260px;
  width: 1920px;
  margin-top: 40px;
  margin-left: 530px;
  margin-right: 530px;
}

.contents-item {
  float: left;
  padding-right: 20px;
}

.contents-item:active {
  opacity: 0.8;
}

.contents-item img {
  border-radius: 50px;
}

.contact-form {
  height: 180px;
}

input {
  float: left;
  margin-left: 530px;
  border-radius: 100px;
  width: 850px;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  border: solid 5px #6a6a6a;
}

.footer {
  background-color: #6a6a6a;
  color: #6ca0d1;
  height: 100px;
  width: 1920px;
}

.footer-list {
  font-size: 24px;
}

.footer-list li {
  color: #f2f2f2;
  opacity: 0.5;
  float: left;
  padding: 35px 20px;
  font-size: 24px;
}

.footer-list li:hover {
  opacity: 1;
}
